body {
	background-color: #000000; /* black background */
	color: #8EE4AF; /* text color */
	font-family: 'Montserrat', sans-serif; /* Spotify font */
	font-size: 24px; /* larger font size */
}
.options {
  display: flex;
  flex-direction: row-reverse; /* change to row-reverse */
  align-items: center; /* updated align-items property */
}

.option {
  color: #8EE4AF;
  margin-right: 10px; /* update margin-right property */
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.options a {
  text-decoration: none;
}

.option:hover {
	color: #fff;
	font-size: 16.78px;
}
.box {
  background-color: #212121;
  border-radius: 50px;
  padding: 50px;
  margin: 50px;
  display: flex;
  align-items: center; 
  opacity: 0;
  animation: fade-in 0.2s ease-in-out forwards;

}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.left {
  flex: 3;
    
  text-align: center;
}

.profile-pic {
  border-radius: 50%;
  width: 500px;
  height: 500px;
}

.right {
  flex: 3;
  margin-left: 0px;
  color: #fff;
  font-size: 15px;
  opacity: 0;
  animation: fade-in 2s ease-in-out forwards;
}

.right h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.fade-in {
  animation: fade-in 2s ease-in-out forwards;
}
p {
  line-height: 1.8;
}
.highlight {
  color: #8EE4AF; /* change the color to your desired color */
  font-weight: bold;
    font-size: 17px;
}

